ANTHROPIC_API_KEY=
DATABASE_URL=postgresql://user:password@host:5432/dbname
RUN_NUMBER=1
NOTION_TOKEN=
NOTION_RUNS_DB_ID=34b6e7a6-7b47-81c9-84d7-cd5c064ced21
NOTION_DETAILS_DB_ID=34b6e7a6-7b47-814c-b5a9-e73c94449737
